
h1 {
    font-size: 80px;
    color: #3b1414;
}
h2 {
    font-size: 50px;
    color: #6e1199;
}
/******CLASSES*********/

.text-red {
    color: rgb(223, 21, 21);
}
.text-color{
    color: #D493F3;
}


.fs-30 {
    font-size: 30px;
}
.fs-23 {
    font-size: 23px;
}